body{
    background-color: rgb(235, 233, 224);
    font-family: 'Merriweather', serif;
    align-items: center;
}
.heading{
    font-size: 3rem;
    background-color: aqua;
    text-align: center;
    border: 0.1rem solid black;
    display: inline-block;
    border-radius: 1.2rem;
    margin-top: -0.1rem;
    width: 100%;
    padding: 0.2rem;
}
.heading a{
    text-decoration: none;
    color: black;
}
h4{
    width: 100%;
    font-size: 1.5rem;
    display: inline-block;
    text-align: center;
    margin-bottom: 2rem;
    margin-top: -1rem;
}
hr{
    border: dotted red 0.6rem;
    border-bottom: none;
    width: 85%;
    margin-bottom: 2rem;
}
.strangerThingsBtn-2{
    margin-bottom: 1.5rem;
}
.strangerThingsBtn{
    border: 0.1rem solid black;
    border-radius: 1rem;
    width: 40rem;
    height: 8rem;
    padding: 0.5rem;
    background-color: #ede7f6;
    color: black;
    margin-bottom: 1.5rem;
    font-size: 1rem;
    text-decoration: none;
}
.stranger_light{
    width: 100%;
    height: 50%;
    display: inline-block;
    margin-bottom: 1rem;

}
.copyright{
    background-color: #08395f;
    color: white;
    text-align: center;
    font-size: 1rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    width: 100%;
    margin-top: 1rem;
    display: inline-block;
}
p{
    width: 100%;
    display: inline-block;
    font-size: 1rem;
    text-align: center;
}