body{
    background-color: rgb(235, 233, 224);
    font-family: 'Merriweather', serif;
    align-items: center;
}
.heading{
    font-size: 3rem;
    background-color: aqua;
    text-align: center;
    border: 0.1rem solid black;
    display: inline-block;
    border-radius: 1.2rem;
    margin-top: -0.1rem;
    width: 100%;
}
.heading a{
    text-decoration: none;
    color: black;
}
marquee{
    font-family: sans-serif;
    font-size: 1rem;
    margin-top: -1.5rem;
    width: 100%;
    display: inline-block;
    margin-bottom: 1.5rem;
}
.copyright{
    background-color: #033153;
    color: white;
    text-align: center;
    font-size: 1rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    width: 100%;
    margin-top: -0.1rem;
    display: inline-block;
}
.about{
    color: #878787;
    margin-left: 2%;
    margin-top: 1%;
    display: inline-block;
}
.contact{
    margin-left: 82%;
    color: #878787;
    display: inline-block;
}
.para{
    color: white;
    width: 40%;
    margin-left: 2%;
    display: inline-block;
}
.footer{
    margin-top: 1rem;
    width: 100%;
    display: inline-block;
    background-color: #08395f;
}
.strangerthing{
    width: 100%;
    height: 38%;
    background-color: aliceblue;
    margin-bottom: 1.5rem;
    border: 0.1rem solid black;
}
.strangerthing img{
    width: 100%;
    height: 40%;
}
.macOS{
    width: 100%;
    height: 38%;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    background-color: aliceblue;
    border: 0.1rem solid black;
}
.macOS img{
    width: 100%;
    height: 40%;
}
.strangerThingsBtn{
    border: 0.1rem solid black;
    border-radius: 1rem;
    width: 40rem;
    height: 8rem;
    padding: 0.5rem;
    background-color: #ede7f6;
    color: black;
    margin-bottom: 1.5rem;
    font-size: 1rem;
    text-decoration: none;
}
hr{
    border: dotted red 0.6rem;
    border-bottom: none;
    width: 85%;
    margin-bottom: 2rem;
}
.strangerThingsBtn-1{
    margin-bottom: 1.5rem;
}
span{
    width: 100%;
    display: inline-block;
    text-align: center;
}